<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/knife4j/sjk/demo/logback/sjk-defaults.xml"/>

    <springProfile name="test,docker,prod">
        <logger name="com.knife4j.sjk.demo.controller" additivity="true" level="${log.level.controller}">
            <appender-ref ref="ASYNC_CONTROLLER_APPENDER"/>
        </logger>
    </springProfile>

   <!-- <springProfile name="dev">
        <logger name="com.sjk.knife4j.controller" additivity="true" level="${log.level.controller}">
            <appender-ref ref="CONTROLLER_APPENDER"/>
        </logger>
    </springProfile>-->
</configuration>
